<div class="body">
	<div class="about-contents">
		<div class="about-title">
			Wancleとは
		</div>
		<p>Wancleではこんな記事を読みたいなという想いを投稿することができます。
			又、その投稿に対して記事を紹介することができます。
			この2つの機能によって、ユーザとライターにとって有意義な場となるサイトになっています。
		</p>
	</div>
	<div class="about-contents">
		<div class="about-title">
			Wancleを作ったきっかけ
		</div>
		<p>私自身がわからないことを調べて解決しようとした際、記事が全く見つからないことがありました。そこで、こういう記事が読みたいと思っている人が記事がなくて困るという経験を少なくするために、作ろうと思いました。又、そのユーザの思いができるだけ多く叶うように、ライターを多く呼び込めるサイトにしなくてはいけないと思いました。
		</p>
	</div>
</div>
