<div class="home-image">
	<div class="home-image-text">
		<%= link_to "はじめる",new_user_registration_path,class: "home-signup" %>
		<%= link_to "ログイン",new_user_session_path,class: "home-signin" %>
	</div>
</div>
	<div class="top-site-description">
		<div>Wancleとは</div>
		<p>
			<strong>Wancleはこんな記事があればいいなというご利用ユーザーの思いをぶつけていただくことができるサイトです。
				<br>
				どれだけのユーザーが記事を読みたいと思っているかが分かりますので、どういう記事を書けば読んでくれる人がいるのかと悩んでいらっしゃるライターの皆さんにも、役立つサイトになっていると思います。
				<br>
				ライターとユーザーの双方がHAPPYになれるそんなサイトになればと思います。
			</strong><br>
			<%= link_to "Wancleをもっと詳しく知りたい方はこちら", tops_about_path %>
		</p>
	</div>
