/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'font-awesome-sprockets';
@import 'font-awesome';


  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yu Gothic";
}

body{
	background-color:#f7f7f7;
	margin: 0 auto;
}

footer{
	height:80px;
	width:100%;
	text-align:center;
	line-height: 80px;
	color:white;
	background-color:#8c2a2a;
	margin-top:50px;
	clear: both;
}

header{
	z-index: 9999;
	height: 75px;
	background-color:white;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
}

textarea,input{
	background-color:#f7f7f7;
}

textarea:focus, input:focus{
	outline:0;
	border: 1px solid rgb(150, 16, 16);
	background-color:#fff;
}

select:focus,button:focus{
	outline:0;
}

textarea:hover, input:hover{
	border: 1px solid rgb(150, 16, 16);
}

.float{
	float:left;
}

.font{
	font-size:36px;
}

.float img{
	padding-left:10px;
	padding-top:8px;
}

.wancle{
	padding-left: 60px;
	float:left;
	color: black;
}

.wancle p{
	clear:both;
	font-size:12px;
}

.wancle-right{
	float:right;
}

.header-link{
	float:left;
	list-style:none;
	margin-top:30px;
	padding: 0 15px;
	height:30px;
}

.header-link a{
	text-decoration:none;
	font-size:13px;
	font-family: 'arial black';
	color:#555;
	position: relative;
    display: inline-block;
    line-height:30px;
}

.header-link a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background: rgb(150, 16, 16);
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.header-link a:hover::after {
  transform: scale(1, 1);
}

.home-image{
	background-image:url(/assets/slide1.jpg);
	background-repeat: no-repeat;
	height:590px;
	width:100%;
	margin-top:75px;
	background-size:cover;
	background-position:center bottom;
}

.home-image p a{
	color:white;
	text-decoration:none;
	background-color:skyblue;
	border-radius: 30px;
	width:300px;
	text-align:center;
	height:100px;
	line-height: 100px;
	position:absolute;
	top:220px;
	left:100px;
	font-size:30px;
}

.home-image p a:hover{
	background-color:blue;
}

.top-site-description{
	width:450px;
	margin:50px 0 0 80px;
}

.top-site-description h2{
	width:160px;
	font-weight:bold;
	border-bottom:solid 2px black;
	margin-bottom:15px;
}

.top-site-description p{
	letter-spacing: 0.1em;
	line-height:200%;
}

.body{
	padding-top:150px;
	padding-bottom:50px;
	width:960px;
	margin: 0 auto;
	min-height: 700px;
}

.sign-up,.sign-in,.user-edit{
	width:480px;
	margin:0 auto;
}

.post-new,.item-new{
	width:640px;
	margin:0 auto;
}

.sign-up-title,.sign-in-title,.profile-edit-title,.post-new-title,.item-new-title{
	margin-bottom:20px;
	font-size:22px;
	font-weight:bold;
}

.post-new-title,.item-new-title{
	font-size:28px;
}

.sign-up-inset,.sign-in-inset,.profile-edit-all,.post-new-inset,.item-new-inset{
	padding:32px 80px;
	border-radius:16px;
	background-color:white;
	box-shadow: inset 0 0 5px #eae6dc;
}

.field{
	margin-bottom:40px;
}

.field-tag{
	margin-bottom:8px;
	font-size:17px;
	font-weight:bold;
}

.field-field{
	width:100%;
	padding:8px;
	border-radius:8px;
	border: 1px solid #eae6dc;
	font-size:16px;
}

.writer-radio,.gender-radio{
	text-align:center;
	font-size:16px;
}

.writer-radio-margin{
	margin-right:25px;
}

.sign-up-btn-line,.sign-in-btn-line,.profile-btn-line,.user-destroy-line,.post-new-btn-line,.item-new-btn-line{
	text-align:center;
}

.user-destroy-line{
	margin-top:30px;
}

.sign-up-btn,.sign-in-btn,.profile-btn,.post-new-btn,.item-new-btn{
	background-color:rgb(150, 16, 16);
	color:white;
	height:48px;
	line-height:48px;
	padding:0 80px;
	border-radius:8px;
}

.sign-up-btn:focus,.sign-in-btn:focus,.profile-btn:focus,.post-new-btn:focus,.item-new-btn:focus{
	background-color:rgb(150, 16, 16);
	color:white;
	height:48px;
	line-height:48px;
	padding:0 80px;
	border-radius:8px;
}

.gender-radio-margin{
	margin-right:39px;
}

.genre-link1{
	width:80%;
	margin:0 auto;
	overflow:auto;
	padding: 25px 32px 32px 32px;
	border-radius:16px;
	background-color:white;
	box-shadow: 0 0 4px #eae6dc;
	margin-bottom:80px;
}

.genre-link1-title{
	font-size:16px;
	font-weight:550;
	font-family:'arial';
	margin-bottom:10px;
}

.genre-link{
	text-align:center;
	margin:7.5px 4px 7.5px 4px;
}

.genre-link a{
	text-decoration:none;
	display:inline-block;
	padding:4px 12px;
	font-size:14px;
	background-color: #eae6dc;
	border-radius:4px;
}

.genre-link a:hover span,.genre-link a:hover{
	background-color:rgb(150, 16, 16);
	color:white;
	text-decoration:none;
}

.genre-link .genre-genre{
	color:#333333;
	font-family: 'arial';
	font-weight:545;
}

.genre-link span{
	color:rgb(150, 16, 16);
	font-family: 'arial';
	font-weight:545;
}

.genre-link-color a ,.genre-link-color .genre-genre,.genre-link-color span{
	color:white;
	background-color:rgb(150, 16, 16);
}

.post-padding-top{
	clear:both;
	width:100%;
}

.post-roop a:hover{
	text-decoration:none;
}

.post-roop:first-of-type{
	border-top:solid 1px #f2f2f2;
}

.post-roop:hover{
	background-color:#f2f2f2;
}

.post-roop{
	font-size:15px;
	background-color:white;
	width:100%;
	border-bottom:solid 1px #f2f2f2;
	border-right:solid 1px #f2f2f2;
	padding:20px 0 20px 20px;
}

.post-user-name{
	display:block;
	border-radius:50%;
	margin-bottom:20px;
}

.post-user-name a{
	display:inline-block;
	color:black;
	font-size:15px;
}

.post-user-name a:hover{
	color:blue;
	text-decoration:none;
}

.post-user-name img{
	border-radius:50%;
	border:1px solid silver;
}

.post-content{
	display:block;
	color:black;
	font-size:15px;
	width:580px;
	margin-left:72.5px;
	margin-bottom:30px;
}

.post-datetime{
	text-align:right;
	margin-right: 30px;
}

.post-datetime,.post-datetime a{
	color:gray;
}

.post-datetime a:active,.post-datetime a:focus{
	text-decoration:none;
}

.item-index{
	width:228px;
	float:left;
	margin-left:16px;
	margin-top:40px;
	margin-bottom:40px;
	border-radius: 12px 12px;
	text-align:left;
	background-color:white;
	box-shadow: 0 0 12px #eae6dc;
}

.item-index:nth-of-type(4n+1){
	clear:both;
	margin-left:0;
}

.item-index:hover{
	box-shadow:none;
}

.item-index img{
	border-radius: 12px 12px 0 0;
}

.item-content{
	overflow: auto;
}

.item-content-2{
	height:60px;
}

.user-name{
	font-size:13px;
	height:23px;
	text-align:center;
}

.user-name a{
	color:black;
	line-height:20px;
}

.item-createtime{
	color:gray;
	height:35px;
	text-align:right;
	margin-right:10px;
}

.btn-border {
  display: inline-block;
  border: 2px solid #9ec34b;
  background-color:#FFF;
  color:#9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 3.2px;
  border-radius: 6px;
  transition: .4s;
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
}

.btn-border:hover {
  background-color:#9ec34b;
  border-color: #cbe585;
  color: #FFF;
  text-decoration: none;
}

.btn-border2 {
  display: inline-block;
  border: 2px solid #FF0000;
  color: #FF0000;
  background-color:#FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 3.2px;
  border-radius: 6px;
  transition: .4s;
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
}

.btn-border2:hover {
  background-color:#FF0000;
  border-color:orange;
  color: #FFF;
  text-decoration: none;
}

.profile-image{
	margin:0 auto;
	border-radius:50%;
	margin-bottom:15px;
	width:120px;
}

.profile-content{
	width:80%;
	margin:0 auto;
	overflow: auto;
	margin-bottom:50px;
	background-color:#ffffff;
	padding-top:40px;
	padding-bottom:40px;
}

.profile-left{
	float:left;
	margin-left:80px;
}

.profile-image img{
	border-radius:50%;
	border:1px solid silver;
}

.profile {
	float:left;
	margin-left:70px;
	margin-top:10px;
	width:400px;
}

.profile-edit{
	color:white;
	background-color:rgb(150, 16, 16);
	border:solid 1px rgb(150, 16, 16);
	text-decoration:none;
	border-radius:8px;
	padding:10px 25px;
	font-weight:bold;
}

.profile-edit:hover{
	text-decoration:none;
	background-color:rgba(150, 16, 16, 0.8);
	color:white;
	border-color:rgba(150, 16, 16, 0.8);
}

.profile-writer{
	color:green;
	border:solid 2px green;
	border-radius:10px 10px;
	padding:2px 10px;
	font-weight:bold;
}

.profile-user{
	color:orange;
	border:solid 2px orange;
	border-radius:10px 10px;
	padding:2px 10px;
	font-weight:bold;
}

.profile-right{
	margin-bottom:15px;
}

.introduction,.post-new-content,.item-new-content{
	padding-top:10px;
	height:150px;
}

.user-item-index,.user-post-index{
	margin-top:80px;
}

.user-destroy-btn{
	background-color:rgba(255,0,0,1);
	display:block;
	color:white;
	height:48px;
	line-height:48px;
	border-radius:8px;
	width:80%;
	margin:0 auto;
}

.user-destroy-btn:hover{
	text-decoration:none;
	color:white;
	background-color:rgba(255,0,0,0.8);
}

.margin-bottom{
	margin-bottom:30px;
}

.pink{
	color:red;
	font-size:18px;
}

.yellow{
	color:#FFCC33;
	font-size:18px;
	margin-left:8px;
}

.black{
	color:black;
	margin-right:10px;
}

.item-createtime a{
	text-decoration:none;
}

#back {
  position: fixed;
  right: 30px;
  bottom: 85px;
}

#back img {
  width: 60px;
  height:60px;
  border-radius:50%;
}

.search-radius{
	border-radius:5px 0 0 5px;
	border: 1px solid #ccc;
	height:32px;
	width:170px;
	border-right:none;
	float:left;
	padding-left:5px;
	background-color:#fff;
}

.search-color{
	height:32px;
	border:1px solid rgb(150, 16, 16);
	border-left:none;
	border-radius:0 5px 5px 0;
	float:left;
	background-color:rgb(150, 16, 16);
	color:#ffffff;
	width:30px;
}

.search-select{
	float:left;
	margin-right:3px;
	margin-top:1px;
}

.search-select select{
	background-color:rgb(150, 16, 16);
	border:1px solid rgb(150, 16, 16);
	height:30px;
	color:#ffffff;
}

.search-color:focus{
	background-color: rgba(150,16,16,0.7);
}

.paginate{
	clear:both;
	text-align:center;
}

.pagination .page a,.pagination .page a:hover,.pagination .page a:active,.pagination .page a:focus,.pagination .next a,.pagination .next a:hover,.pagination .next a:active,.pagination .next a:focus,.pagination .last a,.pagination .last a:hover,.pagination .last a:active,.pagination .last a:focus,.pagination .first a,.pagination .first a:hover,.pagination .first a:active,.pagination .first a:focus,.pagination .prev a,.pagination .prev a:hover,.pagination .prev a:active,.pagination .prev a:focus{
	color:rgb(150, 16, 16);
}

.pagination .active a,.pagination .active a:hover,.pagination .active a:focus{
	background-color:rgb(150, 16, 16);
	border-color:rgb(150, 16, 16);
	color:#ffffff;
}

.unfollow-btn{
	color:rgb(150, 16, 16);
	border:solid 2px rgb(150, 16, 16);
	border-radius:40px;
	padding:5px 25px;
	font-weight:bold;
	background-color:white;
}

.unfollow-btn:hover{
	border:solid 2px rgb(150, 16, 16);
}

.follow-btn{
	color:white;
	background-color:rgb(150, 16, 16);
	border-radius:40px;
	padding:5px 25px;
	font-weight:bold;
	border:solid 2px rgb(150, 16, 16);
}

.follow-btn:hover{
	border:solid 2px rgb(150, 16, 16);
}

.follow-btn:active{
	background-color:rgb(150, 16, 16);
}

.follow_form{
	text-align:center;
}

.stats{
	margin-bottom:10px;
}

.stats a{
	color:black;
}

.profile-edit-2{
	text-align:center;
	display:block;
	width:100%;
}

.genre-genre-title{
	font-size:25px;
	font-weight:600;
	font-family:'arial';
	margin-bottom:20px;
}

.genre-genre-title span{
	color:rgb(150, 16, 16);
	font-size:28px;
	font-weight:600;
	font-family:'arial';
}

.genre-genre-title-2{
	font-size:20px;
	font-family:'arial';
	font-weight:500;
	margin-bottom:5px;
}




